{% extends "layout.html" %}
{% block content %}

<div class="item-heading-left">
  <h1>Get Guidance.</h1>
</div>
<div class="item-alert-middle">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <h3>{{ current_user.username.title()}} {{message }}</h3>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div class="item-explain-left">
  <p>We asked your line manager to recommed upskilling content. The result you find here: training material that is tailormade for you and as relevant as possible for your daily job and your long-term personal development. <br><br>By this LEARNSCOUT makes your investment into your upskilling worth every minute. <br><br>Enjoy your development with LEARNSCOUT, {{ current_user.username.title()}}.
  </p>
</div>
{% if current_user.function_selected == "TBD" %}
<div class="item-explain-right">
    <label><p>Select your function please:</p>
      <select class="custom_select" id="option_selected">
        <option><p>I am working in . . . </p></option>
        {% for x in functions %}
        <option value="{{x}}"><p>{{ x }}</p></option>
        {% endfor %}

      </select>
    </label>
</div>
{% else %}
<div class="item-explain-right">
  <p>You told us that your are working in the {{ current_user.function_selected.title()}}-function.
  Based on that LEARNSCOUT recommends the following trainings that are tailormade for you, {{ current_user.username.title()}}: <br><br>
  Please select the training you are interested in most:</p>
</div>
<div class="item-info-right">
  <form action='/myupskillingplan'>
    {% for x in training %}
    <p>
    <label class="label"> 
      <input type="radio" name="radio" class="radio">
      <span class="checkmark"></span>
      {{ x }}   
      <br>
    </label>
    </p>
    {% endfor %}


</div>
<div class="item-go-r">
  <input type="submit" value="let's start" class="button">
  <a class="button-img" href={{ url_for('main.welcome') }}>
    <img src={{ url_for('static', filename='play_icon.png' ) }} alt="Link to login" width=50px height=50px>
  </a>
</form>
</div>
{% endif %}
{% endblock content %}
