<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>learn scout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"="learn scout offers training content for employees tailormade for their roles and proficiency level ">
  <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
  <div class="bg-img-way" value=home id="bg-image-way" onclick="changeImage()" src="styles/images/background_way.jpg">

    <div class="nav" id="navBar">
      <a href="#log out">log-out</a>
      <a href="#my upskilling" class="active">my upskilling</a>
      <a href="#get guidance">get guidance</a>
      <a class="icon" onclick="makeResposive()">my</a>
    </div>

    <div class="outer">
      <div class="inner">
        <div class="container_index">
          <div class="item-logo">
            <div class="logo-img">
            </div>
          </div>
          <div class="item-heading-middle">
            <h1>Please register</h1>
          </div>
          <div class="item-explain-middle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, m</p>
          </div>
          <div class="item-info-middle">
            <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, molestias quas natus deleniti necessitatibus nesciunt voluptatem iure nemo dolor aem ipsum dolor sit amet consectetur adipisicing
              elit. Placeat voluptates expedita rem dot.</section>
          </div>
          <div class="item-button">
            <a class="go-img" href="login.html">
              <img src="styles/images/play_icon.png" alt="Link to login" width=50px height=50px>
            </a>
          </div>
                <div class="item-explain-right">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolor.</p>
        </div>
        <div class="item-info-right">
          <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, molestias quas natus deleniti necessitatibus nesciunt voluptatem iure nemo dolor at.</section>
        </div>
            <div class="item-go">
            <a class="go-img" href="login.html">
              <img src="styles/images/play_icon.png" alt="Link to login" width=50px height=50px>
            </a>
          </div>
        <div class="item-footer">
          <footer>* Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum du
          </footer>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
