{% extends "layout_basic.html" %}
{% block layout %}
<div class="outer-h">
  <header>
    <div class="container-index-h">
      <div class="item-logo">
        <div class="logo-img">
        </div>
      </div>
      <div class="nav" id="navBar">
        <a href={{ url_for('getguidance') }}>get guidance</a>
        <a href={{ url_for('myupskillingplan') }}>my upskilling</a>
        <a href={{ url_for('welcome') }}>logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsive_NavBar()">&#9776;</a>
      </div>
    </div>
  </header>
</div>
<main>
  <div class="outer-m">
    <div class="container-index-m">

      {% block content %}{% endblock %}

    </div>
  </div>
</main>
{% endblock layout %}
