body { 
  font-family: "Arial Black", Helvetica, sans-serif; 
  background-color: rgb(51, 49, 3); 
}

h1 {  
    font-size: 2 em; 
    color: rgb(102, 51, 153);
  }

h2 {  
    font-size: 0.5 em; 
    color: (rgb(16, 2, 59);
  }