@media screen and (max-width: 800px) {
    .nav a {
      display: none;
      }
    
    .nav a.icon {
      float: right;
      display: block;
      }
    
    .nav.responsive {
      position: relative;
      }
      
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      }
      
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 2vw;
      padding: 1vh 2vw;
      }
    }
