/* RULES FOR ALL ELEMENT */
body {
  color: #ffffff;
  }

/* RULES FOR OUTER FRAMES */
.outer-h, .outer-m {
  background-color: #49859b;
  }

.outer-none {
  background-color: transparent;
  }

/* RULES FOR NAVIGATION ELEMENTS */
.nav a {
  color: #24434D;
  }

.nav a:hover {
  background-color: #49859b;
  opacity: 0.3;
  color:#ffffff;
  }

/* RULES FOR LINKS IN TEXT */
a:hover {
  cursor: pointer;
  }

a:link {
  color: #24434D;
  text-decoration: none;
  }

/* RULES FOR BUTTONS IN TEXT */
.go-img, .button-img  {
  opacity: 40%;
  cursor: pointer;
  }

.go-img:hover, .button-img:hover, .button:hover {
  opacity: 100%;
  cursor: pointer;
  }

.button {
  background-color: transparent;
  }

/* RULES FOR FORMS IN TEXT */
.form-control{
  background-color: #A4C2CD;
  color: #24434D;
  }

.form-control-label{
  color: #ffffff;
  }

/* colors for grid testing only*/
/*
.container-index-h  {
  background-color: blueviolet;
  }

.container-index-m  {
  background-color: tomato;
  }

.item-logo {
    background-color: rgb(77, 36, 63);
  }

.nav {
  background-color: red;
  }

.item-heading-left {
    background-color:gold;
  }

.item-heading-middle {
    background-color: rgb(191, 255, 0);
  }

.item-heading-right {
    background-color: peru;
  }

.item-explain-left, .item-explain-middle, .item-explain-right  {
    background-color: rebeccapurple;
  }

.item-info-left, .item-info-middle, .item-info-right {
    background-color: green;
  }

.item-go-r, .item-go-m, .item-start, .button{
  background-color: rebeccapurple;
  }

.item-footer {
    background-color:blue;
  }
