* {
  box-sizing: border-box;
  }

body, html {
  height: 100%;
  margin: 0;
  }
/* Definition of frames
GENERAL RULES FOR MULTIPLE ELEMENTS*/
.outer-h, .outer-none, .outer-m  {
  display: block;
  position: relative;
  width: 83.33%;
  height: 16.66vh;
  top: 8.33vh;
  margin: auto;
  }

/* SPECIFIC RULES FOR SINGLE ELEMENTS - OUTER FRAMES */
.outer-h  {
  height: 16.66vh;
  }

.outer-none {
  height: 83.33vh;
  }

.outer-m {
  height: 66.66vh;
  }

/* RULES FOR LOGO */
.item-logo {
  position: fixed;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  }

/* RULES FOR ICON (BAR) IN NAVIGATION BAR */
.nav .icon {
  display: none;
  }

/* RULES FOR FORMS IN REGISTRATION AND LOGINFORM */
fieldset {
  display: block;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vw;
  border: none;
}

.form-control-label {
  padding-left: 1vw;
  }

.form-control {
  display: block;
  position: relative;
  width: 100%;
  height: 3vh;
  border:none;
  border-radius: 5px;
  padding-left: 10vw;
  }

/* RULES FOR BUTTONS*/
.button, .agree-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  }

.agree-button {
  align-items: baseline;
  }

/*FRAME FOR T&C*/
aside {
  width: 2%;
  height: 2%;
  background-color: #49859b;
  display: none;
  position: absolute;
  left: 49%;
  top: 49%;
  opacity: 0;
  transition-duration: 300ms;
}

aside.post {
  width: 83.33%;
  height: 83.33%;
  left: 8.33%;
  top: 8.33%;
  background-color: #24434d;
  border: 1px #ffffff;
  display: block;
  opacity: 1;
  transition-duration: 300ms;
  z-index: 1;
}
