* {
  box-sizing: border-box;
  }
 
body, html {
  height: 100%;
  margin: 0;
  }
/* Definition of frames 
GENERAL RULES FOR MULTIPLE ELEMENTS*/
.outer-h, .outer-none, .outer-m  {
  display: block;
  position: relative;
  width: 83.33%;
  height: 16.66vh;
  top: 8.33vh;
  margin: auto;
  }

/* SPECIFIC RULES FOR SINGLE ELEMENTS - OUTER FRAMES */
.outer-h  {
  height: 16.66vh;
  }

.outer-none {
  height: 83.33vh;
  }

.outer-m {
  height: 66.66vh;
  }

/* RULES FOR LOGO */ 
.item-logo {
  position: fixed;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  }

/* RULES FOR ICON (BAR) IN NAVIGATION BAR */ 
.nav .icon {
  display: none;
  }
