/* RWD images */

.bg-img-blank , .bg-img-way{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

.bg-img-blank {
    background-image: url(/static/background_blank.jpg);
  }

.bg-img-way {
    background-image: url(/static/background_way.jpg);
  }

.logo-img {
    background-image: url(/static/Logo.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65px;
    width: 65px;
    left: 0.4vw;
    top: 0.5vh;
  }
  
.button-img {
    height: 5px;
    width: 5px;
  }