@font-face {
  font-family: roboto-regular;
  src: url('Roboto-Regular.ttf');
  }
@font-face {
    font-family: Rajdhani-regular;
    src: url('Rajdhani-Regular.ttf');
    }

/* RULES FOR ALL ELEMENT */
body {
  text-decoration: none;
  }

/* GENERAL RULES FOR MULTIPLE ELEMENTS*/
p, section, a, .form-control, .form-control-label, .button, .nav a, .footer{
  font-family: 'Roboto', Tahoma, Geneva;
  }

p, section, a .form-control, .form-control-label{
  font-size: calc(9px + ((3 * (100vw — 800px))/799));
  }

/* SPECIFIC RULES FOR SINGLE ELEMENTS - TEXT */
h1, h2 {
  font-family: 'Rajdhani', Cambria, Cochin, Georgia, 'Times New Roman';
  font-size: calc(12px + ((12 * (100vw — 800px))/799));
  vertical-align: text-top;
  }

/*explain text under heading*/
p, h2 {
  text-align: justify;
  vertical-align: text-top;
  }

.item-explain-middle p, .item-explain-middle p a, .button {
  font-size: calc(6px + ((3 * (100vw — 800px))/799));
  }

/*info text under explain text*/
section {
  text-align: left;
  }

/* SPECIFIC RULES FOR SINGLE ELEMENTS - NAVIGATION BAR TEXT */
.nav a {
  font-size: calc(8px + ((6 * (100vw — 800px))/799));
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  }

/* RULES FOR FOOTER */
footer {
  font-size: calc(6px + ((3 * (100vw — 800px))/799));
  /*text-align: justify;
  text-justify: inter-word;*/
  }
