body {
    color: #ffffff;
    }

.inner {
    background-color: #49859b;
    }
    
.nav {
    background-color:#49859b;
    }

.nav a {
    background-color: #49859b;
    color: #ffffff;
    }

.nav a:hover {
    opacity: 70%;
    color: #24434D;
    }

.nav a.icon:hover {
    background-color: #49859b;
    color: #24434D;
    }

.go-img:hover {
    opacity: 40%;

    }
/*
.container_index {
    background-color: rgb(2, 39, 4);
  }

.item-logo {
    background-color: #24434D;
  }
.item-heading-tl {
    background-color: red;
  }
.item-heading-tr {
    background-color: rgb(191, 255, 0);
  }
.item-heading-br {
    background-color: peru;
  }
.item-explain-left {
    background-color:blue;
  }
.item-explain-right {
    background-color:blue;
  }
.item-info-left {
    background-color: #24434D;
  }
.item-info-right {
    background-color: #24434D;
  }
  
.item-go {
    background-color: rebeccapurple;
  }
.item-footer {
    background-color:blue;
  }
  */
