.container_index {
    display: grid;
    justify-content: stretch;	
    align-content: stretch;	
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(12, 8.33vh);
    height: 100%;
  }
  
.item-logo {
    position: fixed;
    grid-column: 1/2;
    height: 10vh;
    width: 6vw;
    padding: 2vh;
  }
  
.item-navbar-l {
    grid-column: 5/7;
  }
  
.item-navbar-m {
    grid-column: 7/9;
  }
  
.item-navbar-r {
    grid-column: 9/11;
  }
  
.item-heading-tl {
    grid-column: 3/6;
    grid-row: 3;
    height: 10vh;
    width: 100%;
    text-align: left;
  }

.item-heading-tr {
    grid-column: 7/11;
    grid-row: 3;
    height: 10vh;
    width: 100%;
    text-align: center;
  }

.item-heading-br {
    grid-column: 7/11;
    grid-row: 6;
    height: 30vh;
    width: 100%;
    padding: 3vh;
    text-align: center;
  }

  .item-explain-left {
    grid-column: 3/6;
    grid-row: 4;
    height: 12vh;
    width: 100%;
    padding: 1vh;
  }

  .item-info-left {
    grid-column: 3/6;
    grid-row: 6;
    height: 30vh;
    width: 100%;
    padding: 3vh;
  }

.item-explain-right {
    grid-column: 7/11;
    grid-row: 3;
    height: 10vh;
    width: 100%;
  }
 
.item-info-right {
    grid-column: 7/11;
    grid-row: 5;
    height: 30vh;
    width: 100%;
    padding: 3vh;
  }

.item-button {
    grid-column: 7/11;
    grid-row: 10;
    height: 2vh;
    width: 100%;
    padding: 3vh;
  }

.item-footer {
    grid-column: 7/11;
    grid-row: 10;
    height: 5vh;
    width: 100%;
    padding: 4vh;
  }
 /*
.item-logo {
    background-color: #24434D;
  }
.item-heading-l {
    background-color: red;
  }
.item-heading-r {
    background-color: red;
  }
.item-explain-left {
    background-color:blue;
  }
.item-explain-right {
    background-color:blue;
  }
.item-info-left {
    background-color: #24434D;
  }
.item-info-right {
    background-color: #24434D;
  }
.item-button {
    background-color: rebeccapurple;
  }
.item-footer {
    background-color:blue;
  }*/
  