.item-logo {
  position: fixed;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  }

.nav {
  position: relative;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  width: 83.33%;
  overflow: hidden;
  }

.container_index {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 8.3vh);
  height: 100%;
  align-items: flex-start;
  }

.item-heading-left, .item-heading-middle, .item-heading-right, .item-explain-left, .item-explain-middle, .item-explain-right,.item-info-left, .item-info-middle,  .item-info-right {
  display: flex;
  }

.item-heading-left {
  grid-column: 2/5;
  grid-row: 2/3;
  }

.item-heading-middle {
  grid-column: 4/8;
  grid-row: 2/3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.item-heading-right {
  grid-column: 7/10;
  grid-row: 4/8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  }

.item-explain-left, .item-explain-middle, .item-explain-right {
  grid-row: 3/4;
  }

.item-explain-left {
  grid-column: 2/5;
  }

.item-explain-middle {
  grid-column: 4/8;
  }

.item-explain-right {
  grid-column: 7/10;
  }

.item-info-left, .item-info-middle, .item-info-right {
  padding-left: 2vw;
  padding-right:2vw;
  }

.item-info-left {
  grid-column: 2/5;
  grid-row: 5/8;
  }

.item-info-middle {
  grid-column: 4/8;
  grid-row: 5/7;
  }

.item-info-right {
  grid-column: 7/10;
  grid-row: 5/8;
  }

.item-button, .item-go {
  grid-row: 8/9;
  }

.item-button {
  grid-column: 4/8;
  }

.item-go {
  grid-column: 7/10;
  }

.item-footer {
  grid-column: 7/10;
  grid-row: 8/9;
  padding: 2vh;
  }