.nav {
  position: relative;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  width: 83.33%;
  overflow: hidden;
  background-color:#49859b;
  }


.item-logo {
  position: fixed;
  z-index: 1;
  top: 8.33vh;
  left: 8.3vw;
  width: 6vw;
  }

.container_index {
  display: grid;
  justify-content: stretch;	
  align-content: stretch;	
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 8.3vh);
  height: 100%;
  }

.item-heading-tl {
  grid-column: 2/5;
  grid-row: 2;
  height: 10vh;
  width: 100%;
  text-align: left;
  }

.item-heading-tr {
  grid-column: 4/8;
  grid-row: 2;
  height: 10vh;
  width: 100%;
  text-align: center;
  }

.item-heading-br {
  grid-column: 6/9;
  grid-row: 5;
  height: 30vh;
  width: 100%;
  padding: 3vh;
  text-align: center;
  text-transform: uppercase;
  }

.item-explain-left {
  grid-column: 2/5;
  grid-row: 3;
  height: 12vh;
  width: 100%;
  padding: 1vh;
  }

.item-info-left {
  grid-column: 2/5;
  grid-row: 5;
  height: 30vh;
  width: 100%;
  padding: 3vh;
  }

.item-explain-right {
  grid-column: 6/9;
  grid-row: 2;
  height: 10vh;
  width: 100%;
  }
 
.item-info-right {
  grid-column: 6/9;
  grid-row: 4;
  height: 30vh;
  width: 100%;
  padding: 3vh;
  }

.item-go {
  grid-column: 6/9;
  grid-row: 9;
  height: 10vh;
  padding-top: 1vh;
  padding-left: 45%;
  }

.item-footer {
  grid-column: 6/10;
  grid-row: 9;
  height: 5vh;
  width: 100%;
  padding: 4vh;
  }
/*
.container_index {
    background-color: rgb(2, 39, 4);
  }

.item-logo {
    background-color: #24434D;
  }
.item-heading-tl {
    background-color: red;
  }
.item-heading-tr {
    background-color: rgb(191, 255, 0);
  }
.item-heading-br {
    background-color: peru;
  }
.item-explain-left {
    background-color:blue;
  }
.item-explain-right {
    background-color:blue;
  }
.item-info-left {
    background-color: #24434D;
  }
.item-info-right {
    background-color: #24434D;
  }
  
.item-go {
    background-color: rebeccapurple;
  }
.item-footer {
    background-color:blue;
  }
  */
