/* RWD images */

.bg-img {
    background-image: url(./images/background_unsplash_filterted.jpg);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    position: relative;
  }


.logo-img {
    width: 70px;
    left: 0.4vw;
    height: 70px;
    background-image: url(./images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  
    position: relative;
}