/* styles text *//* Add a top margin to avoid content overlay */

body {
    color: #ffffff;
    text-decoration: none;
  }

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2vw;
    text-align: left;
  }
  
nav {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.2vw;
    text-align: center;
    text-transform: uppercase;
  }
  
p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1vw;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 2vh;
  }

section {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1vw;
    text-align: left;
  }

button {
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1vw;
    left: 50%;
    top:20%;
  }

footer {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.7vw;
    text-align: justify;
    text-justify: inter-word;
    padding: 1vh;
  }

