<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"="learn scout offers training content for employees tailormade for their roles and    proficiency level ">

    {% if title %}
        <title>learnscout - {{ title }}</title>
    {% else %}
        <title>learnscout</title>
    {% endif %}

  <link rel="stylesheet" href="static/styles/main.css">
  <link rel="icon" sizes="32x32" type="image/x-icon" href={{ url_for('static', filename='favicon.ico' ) }}>
  <link rel="stylesheet" href="static/styles/Rajdhani-Regular.ttf">
  <link rel="stylesheet" href="static/styles/Roboto-Regular.ttf">
</head>
<body>
  <div class="bg-img main" style="background-image: url(/static/background_blank.jpg)">

    {% block layout %}{% endblock %}

    </div>
  <script src="static/scripts.js"></script>
</body>
</html>
