{% extends "layout_basic.html" %}
{% block layout %}
    <div class="outer-none">
      <header>
        <div class="container-index-h">
          <div class="item-logo">
            <div class="logo-img">
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="container-index-m">
          <div class="item-go-t" >
            <a class="button-img" href={{ url_for('welcome') }}>
                <img src={{ url_for('static', filename='back_icon.png' ) }} alt="Link to Welcome" width=50px height=50px>
            </a>
          </div>
          <div class="item-heading-login">
            <h1>Please log in to your account</h1>
          </div>
          <div class="item-explain-login">
            <p>Log in with your email-address and your password. New to learn scout? <a href={{ url_for('register')}}>Register here.</a></p>
          </div>

          <div class="item-info-login">
              <div class="content-sction">
              <form method="POST" action="">
                  {{ form.hidden_tag() }}
                      <fieldset class="form-group">
                          <div class="form-group">
                              {{ form.email.label(class="form-control-label")}}
                              {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is invalid")}}
                                <div class="invalid_feedback">
                                    {% for error in form.email.errors %}
                                      <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.email(class="form-control form-control-lg")}}
                              {% endif %}
                          </div>
                          <div class="form-group">
                              {{ form.password.label(class="form-control-label")}}
                              {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is invalid")}}
                                <div class="invalid_feedback">
                                    {% for error in form.password.errors %}
                                      <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.password(class="form-control")}}
                              {% endif %}
                          </div>

                      </fieldset>

                        <div z-index="1">
                          {{ form.login(class="button")}}
                        </div>
                  </form>
                </div>
              </div>
        </div>
      </main>
    </div>
    {% endblock layout %}
