{% extends "layout.html" %}
{% block content %}
    <div class="item-heading-middle">
        <h1>Please login</h1>
    </div>
    <div class="item-explain-middle"> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, m
    </p>
    </div>
    <div class="item-info-middle">
    <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, molestias quas natus deleniti necessitatibus nesciunt voluptatem iure nemo dolor aem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dot.
    </section>
    </div>
    <div class="item-go-m">
    <a class="button-img" href={{ url_for('get_guidance') }}>
        <img src={{ url_for('static', filename='play_icon.png' ) }} alt="Link to Get Guidance" width=50px height=50px>
    </a>
    </div>
    <div class="item-footer">
        <footer>* Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum du
        </footer>           
    </div>
{% endblock %}