href="login.html"

<div class="bg-img main" style="background-image: url(/static/background_blank.jpg)">
     

    /*document.getElementById("change_bg").style="background-image: url(/static/background_blank.jpg)";
    document.getElementById("welcome_text").style.display="none";
    document.getElementById("welcome_button").style.display="none";
    document.getElementById("login_outer").style.backgroundColor= "#49859b";*/

    /*document.getElementById("login_back, login_go").style.display="block";
  /*document.getElementById("login_go").style.display="block";
  document.getElementById("login_header").style.display="block";
  document.getElementById("login_explain").style.display="block";
  document.getElementById("login_info").style.display="block";
 
}*/