{% extends "layout.html" %}
{% block content %}
    <div class="item-heading-middle" style="display: block">
        <h1>Please register</h1>
    </div>
    <div class="item-explain-middle" style="display: block">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, m
    </p>
    </div>
    <div class="item-info-middle" style="display: block">
        <div class="content-sction">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label")}}
                        {{ form.username(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label")}}
                        {{ form.email(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label")}}
                        {{ form.password(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label")}}
                        {{ form.confirm_password(class="form-control")}}
                    </div>
                </fieldset>
        </form>
        </div>
        <div class="form-group">
          {{ form.submit(class="button")}}
        </div>
      </div>
    <div class="item-go-m" style="display: block">
    <a class="button-img">
        <img src={{ url_for('static', filename='play_icon.png' ) }} alt="Link to Get Guidance" width=50px height=50px>
    </a>
    </div>
    <div class="item-footer" style="display: block">
        <footer>* Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum du
        </footer>
    </div>
{% endblock %}
