<!DOCTYPE html> 
<html lang="en-US"> 
<head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"="learn scout offers training content for employees tailormade for their roles and    proficiency level ">  
    {% if title %}
        <title>learnscout - {{ title }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}
  <link rel="stylesheet" href="static/styles/main.css">
  <link rel="icon" sizes="32x32" type="image/x-icon" href={{ url_for('static', filename='favicon.ico' ) }}>
</head>
<body>
<div class="bg-img" id="change_bg" style="background-image: url(/static/background_way.jpg);">
  <div class="outer-none" id="login_outer">
    <header>
      <div class="container-index-h">
        <div class="item-logo">
          <div class="logo-img">
          </div>
        </div>
      </div>
    </header>
    <main>  
      <div class="container-index-m">
        <div class="item-heading-right" id="welcome_hide">
          <h1>guided<br>upskilling:<br>tailormade<br>for you</h1>
        </div>
        <div class="item-start" id="welcome_hide" onclick="responsive_welcome()">
          <a class="button-img">
            <img src={{ url_for('static', filename='play_icon.png' ) }} alt="Link to login" width=50px height=50px >
          </a>
        </div>
        <div class="item-go-t" id="login_visible" >
          <a class="button-img" href={{ url_for('welcome') }}>
              <img src={{ url_for('static', filename='back_icon.png' ) }} alt="Link to Welcome" width=50px height=50px>
          </a>
        </div>
        <div class="item-heading-middle" id="login_visible">
          <h1>Please login</h1>
        </div>
        <div class="item-explain-middle" id="login_visible"> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, m
          </p>
        </div>
        <div class="item-info-middle" id="login_visible">
          <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dolorem, molestias quas natus deleniti necessitatibus nesciunt voluptatem iure nemo dolor aem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates expedita rem dot.
          </section>
        </div>
        <div class="item-go-m" id="login_visible">
          <a class="button-img" href={{ url_for('get_guidance') }}>
              <img src={{ url_for('static', filename='play_icon.png' ) }} alt="Link to Get Guidance" width=50px height=50px>
          </a>
        </div>
        <div class="item-footer" id="login_visible">
            <footer>* Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum du
            </footer>           
        </div>
      </div>
    </main>
  </div>
</div>
</div>
<script src="static/scripts.js"></script>
</body>
</html>

